
@{
    ViewBag.Title = "AssignUsers";
}
<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">Assign Users to Task</h1>
        <p class="lead">Add and Remove Users from this Task...</p>
    </div>
</div>

<h2>Assign Users to Task</h2>


@using (Html.BeginForm("AddUserToTask", "UserTasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>@ViewBag.TaskDescription</label>
    <input type="hidden" name="TaskID" value="@ViewBag.TaskID" />

    <h3>Check to add user to task.</h3>
    <ul>
        @foreach (var projectUser in @ViewBag.ProjectUsers)
        {
            <li><input type="checkbox" name="projectUserIDs" value="@projectUser.ProjectUserID" />@projectUser.User.UserName</li>
        }
    </ul>

    <br />

    <h3>Check to remove user from task.</h3>
    <ul>
        @foreach (var assigendUser in @ViewBag.AssignedUsers)
        {
            <li><input type="checkbox" name="assignedUserIDs" value="@assigendUser.ProjectUserID" />@assigendUser.ProjectUsers.User.UserName</li>
        }
    </ul>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save Changes" /> | 
            <a href="@Url.Action("Tasks", "Projects", new { id = ViewBag.PublicID })">Back to Tasks</a>
        </div>
    </div>    
}