@model Project.Models.UserTasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectUsers.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectUsers.ApplicationUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasks.ApplicationUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
