@using Microsoft.AspNet.Identity
@model IEnumerable<Project.Models.Projects>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">@User.Identity.GetUserName()'s Projects"</h1>
        <p class="lead">View your created projects here, as well as create new ones!</p>
    </div>
</div>

<a href="@Url.Action("Create", "Projects")" class="btn btn-success">
    Create New
    <span class="fa fa-plus" aria-hidden="true"></span>
</a>
<hr />
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th></th>
    </tr>*@


@if (Model.Count() == 0)
{
    <div class="card text-center">
        <div class="card-body">
            <h1>Oh no! No projects! :(</h1>
            <p>Create projects by clicking below!</p>
            <a href="@Url.Action("Create", "Projects")" class="btn btn-success">
                Create New
                <span class="fa fa-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PublicID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PublicID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PublicID })
                </td>
            </tr>*@

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2 mb-2">
            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProjectName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <a href="@Url.Action("Details", "Projects", new { id = item.PublicID })" class="btn btn-primary">
                        View Details
                        <span class="fa fa-eye"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Projects", new { id = item.PublicID })" class="btn btn-danger">
                        Delete
                        <span class="fa fa-trash-o"></span>
                    </a>
                </div>
                <div class="card-footer">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </div>
            </div>
        </div>
    }

</div>

@*</table>*@
