@model IEnumerable<Project.Models.Projects>

@{
    ViewBag.Title = "MemberOf";
}

<h2>Projects I'm a member of</h2>

@if (Model.Count() == 0)
{
    <div class="card text-center">
        <div class="card-body">
            <h1>Oh no! No projects! <span class="fas fa-surprise"></span></h1>
            <p>You are currently not a member of any project!</p>            
        </div>
    </div>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-2 mb-2">
            <div class="card">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProjectName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ProjectDescription)</p>
                    <a href="@Url.Action("Details", "Projects", new { id = item.PublicID })" class="btn btn-primary">
                        View Details
                        <span class="fa fa-eye"></span>
                    </a>                
                </div>
                <div class="card-footer">
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </div>
            </div>
        </div>
    }
</div>


