@model Project.Models.Projects

@{
    ViewBag.Title = "MyTasks";
}

<h2>My Tasks</h2>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("WorkStation", "Projects", new { id = Model.PublicID })">Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyFiles", "Projects", new { id = Model.PublicID })">My Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProjectUsers", "Projects", new { id = Model.PublicID })">Users <span class="fas fa-user"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tasks", "Projects", new { id = Model.PublicID })">Tasks <span class="fas fa-list"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("MyTasks", "Projects", new { id = Model.PublicID })">My Tasks <span class="fas fa-list"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Activity</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.Partial("../Tasks/_MyTasks", Model.Tasks)
    </div>
</div>

