@model Project.Models.Projects
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ProjectUsers";
}

<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">@Model.ProjectName: Users</h1>
        <p class="lead">View & add users to current project...</p>
    </div>
</div>

<h2>Project Users</h2>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("WorkStation", "Projects", new { id = Model.PublicID })">Files <span class="fas fa-file"></span> (@Model.Files.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyFiles", "Projects", new { id = Model.PublicID })">My Files <span class="fas fa-file"></span> (@Model.Files.Where(p => p.ApplicationUserID == User.Identity.GetUserId() && p.PublicID == Model.PublicID).Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("ProjectUsers", "Projects", new { id = Model.PublicID })">Users <span class="fas fa-user"></span> (@Model.ProjectUsers.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tasks", "Projects", new { id = Model.PublicID })">Tasks <span class="fas fa-list"></span> (@Model.Tasks.Where(t => t.IsComplete == false && t.PublicID == Model.PublicID).Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyTasks", "Projects", new { id = Model.PublicID })">My Tasks <span class="fas fa-list"></span> (@Model.Tasks.Where(t => t.IsComplete == false && t.PublicID == Model.PublicID && t.UserTasks.Any(u => u.ProjectUsers.ApplicationUserID == User.Identity.GetUserId())).Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Activity", "Projects", new { id = Model.PublicID })">Activity</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <!--Retrieve Files Partial view to display.-->
        @Html.Partial("../ProjectUsers/_ProjectUsers", Model.ProjectUsers)
    </div>
</div>

