@model Project.Models.Projects
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "WorkStation";
}

<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">@Model.ProjectName: Workstation</h1>
        <p class="lead">Review, upload & download your project's files, & monitor user activity.</p>
    </div>
</div>

<h2>Workstation</h2>

@using (Html.BeginForm("UploadFileAsync", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" class="btn btn-success" id="formFiles" name="formFiles" value="Select A File" multiple="multiple" required />

    <input type="hidden" name="containerName" value="@Model.ProjectContainerName" />

    <input type="hidden" name="publicID" value="@Model.PublicID" />

    <input type="hidden" name="userID" value="@ViewBag.UserID" />

    <input type="hidden" name="currentDate" value="@ViewBag.CurrentDate" />

    <input type="submit" value="Upload" class="btn btn-default" />
}
<br />

@if(!Model.ProjectUsers.Any(p => p.ApplicationUserID == User.Identity.GetUserId()) && User.Identity.GetUserId() != null && !Model.ProjectUserRequests.Any(p => p.ApplicationUserID == User.Identity.GetUserId()))
{
    <h2>Request project membership</h2>
    using(Html.BeginForm("RequestMembership", "ProjectUserRequests", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" value="@Model.PublicID" name="projectID" />
        <input type="hidden" value="@User.Identity.GetUserId()" name="userID" />
        <input type="submit" class="btn btn-success" value="Submit Request" />
        <br />
    }
}
@if(Model.ProjectUserRequests.Any(p => p.ApplicationUserID == User.Identity.GetUserId()))
{
    <h2>Your request has been sent and is currently being verified.</h2>
}

<a class="btn btn-primary" href="@Url.Action("DownloadRepository", "Files", new { id = Model.PublicID })"><span class="fas fa-file-archive"></span> Download as Zip</a>
<br />

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("WorkStation", "Projects", new { id = Model.PublicID })">Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyFiles", "Projects", new { id = Model.PublicID })">My Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProjectUsers", "Projects", new { id = Model.PublicID })">Users <span class="fas fa-user"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Tasks", "Projects", new { id = Model.PublicID })">Tasks <span class="fas fa-list"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyTasks", "Projects", new { id = Model.PublicID })">My Tasks <span class="fas fa-list"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Activity</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <!--Retrieve Files Partial view to display.-->
        @Html.Partial("../Files/_ProjectFiles", Model.Files)
    </div>
</div>

