@model IEnumerable<Project.Models.Tasks>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "_ProjectTasks";
}

    <div class="container">

        <div class="card-deck">
            
            <div class="card">
                <div class="card-header">
                    Tasks
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Where(i => i.IsComplete == false))
                    {
                        <li class="list-group-item">@item.TaskDescription</li>
                        <p class="font-weight-bold">Assigned Users</p>
                        foreach (var user in item.UserTasks)
                        {
                            <li style="list-style-type: none"><a href="@Url.Action("ViewContributions", "Projects", new { id = user.ProjectUsers.ProjectUserID })">@user.ProjectUsers.User.UserName</a></li>

                        }
                        <div class="card-footer">
                            @if (item.Projects.ProjectUsers.Any(p => p.ApplicationUserID == User.Identity.GetUserId()))
                            {
                                <a class="btn btn-primary" href="@Url.Action("AssignUsers", "UserTasks", new { id = item.TaskID })"><span class="fas fa-users"></span></a>                                
                                <a class="btn btn-primary" href="@Url.Action("EditTask", "Projects", new { id = item.TaskID })"><span class="fas fa-pen"></span></a>
                                <a class="btn btn-danger" href="@Url.Action("DeleteTask", "Projects", new { id = item.TaskID })"><span class="fas fa-trash"></span></a>
                            }
                        </div>
                    }
                </ul>                 
                
            </div>             

            <div class="card">
                <div class="card-header">
                    Completed Tasks
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Where(i => i.IsComplete == true))
                    {
                        <li class="list-group-item">@item.TaskDescription</li>
                        <p class="font-weight-bold">Assigned Users</p>
                        foreach (var user in item.UserTasks)
                        {
                            <li style="list-style-type: none"><a href="@Url.Action("ViewContributions", "Projects", new { id = user.ProjectUsers.ProjectUserID })">@user.ProjectUsers.User.UserName</a></li>
                        }
                        <div class="card-footer">
                           @if(item.Projects.ProjectUsers.Any(p => p.ApplicationUserID == User.Identity.GetUserId()))
                            {
                                 <a class="btn btn-primary" href="@Url.Action("AssignUsers", "UserTasks", new { id = item.TaskID })"><span class="fas fa-users"></span></a>                                 
                                 <a class="btn btn-primary" href="@Url.Action("EditTask", "Projects", new { id = item.TaskID })"><span class="fas fa-pen"></span></a>
                                 <a class="btn btn-danger" href="@Url.Action("DeleteTask", "Projects", new { id = item.TaskID })"><span class="fas fa-trash"></span></a>
                            }    
                        </div>
                    }
                </ul>
            </div>

        </div>
    </div>

   

